body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #1e88e5;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}
.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
}
img {
    width: 150px;
}
input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
}
button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}
.reset {
    background-color: orange;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
} 
.result {
    margin-top: 20px;
    font-size: 18px;
}
